
TerraformTemplate/.DS_Store
TerraformTemplate/.terraform/plugins/darwin_amd64/lock.json
TerraformTemplate/.terraform/plugins/darwin_amd64/terraform-provider-aws_v2.42.0_x4
*.1_x4
*.2_x4
TerraformTemplate/ConfigFiles/.DS_Store
TerraformTemplate/pem-file/.DS_Store
*.tfstate
*.backup
*.tfstate
.DS_Store
TerraformTemplate/terraform.tfstate.backup
TerraformTemplate/terraform.tfstate
*.tfstate
*.backup
*.0_x4
TerraformTemplate/standard/.terraform/plugins/darwin_amd64/lock.json
